/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
.container {
  display: flex;
  justify-content: center;
  
}

body {
  margin: 1rem;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  background: linear-gradient(
  to right,
  #acb6e5,
  #74ebd5
  );
  color: white; 
}

h1 {
  font-family: 'Orbitron', sans-serif;
  
}

button {
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 12px 15px 20px rgba(46, 61, 73, 0.5);
  border: none;

}

button:hover {
  transform: scale(1.02);
}

#gameButtonArea > button {
  border-radius: 20px;
  width:200px;
  height:200px;
  margin:10px;
  cursor: pointer;
  
}

.hidden {
  display: none;
}

#button1 {
    background: #87E752;
/*     opacity: .8; */
}

#button2 {
    background: #55C1FF;
/*     opacity: .8; */
}

#button3 {
    background: #fc6076;
/*     opacity: .8; */
}

#button4 {
    background: #FCDC4D;
/*     opacity: .9; */
}

#button1:active, #button1.lit {
    background:#43B929;
}

#button2:active, #button2.lit {
    background: #5887FF;
}

#button3:active, #button3.lit {
    background:#e2373f;
}

#button4:active, #button4.lit {
    background:#CB793A;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}